@charset "utf-8";

/* font-size : 10px; */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


html,
body {
    margin: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    font-family: 'Mada', sans-serif;
}

body {
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

/* 여백초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 테이블 중첩여부지정, 가로 크기 100% */
table {
  width: 100%;
  border-collapse: collapse;
}

/* 목록 요소에 숫자, 불릿 기호 없애기 */
ol,
ul {
  list-style: none;
}

/* 링크에 밑줄 없애기, 글자색 기본색 지정 */
a {
  text-decoration: none;
  color: #000;
  display: block;
}

/* 글자 기울임 설정 */
address {
  font-style: normal;
}

/* 바같테두리 없애기 */
fieldset,
input,
textarea,
select {
  vertical-align: middle;
  outline: none;
  border: 0;
}

/* select 태그 화살표 없애기 appearance:none; */
/* vertical-align: middle 폼 태그에만 적용 가능함 */

legend {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body::-webkit-scrollbar {
  width: 15px;
  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 10%;
  /* 스크롤바의 길이 */
  background: #1eff00;
  /* 스크롤바의 색상 */

  border-radius: 30px;
}

body::-webkit-scrollbar-track {
  background: #000;
  /*스크롤바 뒷 배경 색상*/
}

#header {
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 100px;
  z-index: 99;
}

#header .inner {
  display: flex;
  justify-content: space-between;
}


#header .inner .back a {
  width: 97.5px;
  height: 100px;
  display: inline-block;
  border-right: 1px solid #000;
}

#header .inner .back a:hover .bi-arrow-left {
  background: #1eff00;
  border: 1px solid #000;
}

#header .inner .back .bi-arrow-left {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 8rem;
  width: 97.5px;
  padding: 5px 10px;
  height: 100px;
} 

#header .inner .title {
  position: absolute;
  right: 150px;
  top: 35px;
  font-size: 3rem;
  font-weight: 300;
}



/* 
#header .inner {
  display: flex;
  justify-content: space-between;
}

#header .inner::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0px;
  bottom: 10%;
}

#header .inner .back {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

#header .inner .back:hover .bi-arrow-left {
  background: #1eff00;
  color: #fff;
}

#header .inner .back .bi-arrow-left {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 8rem;
  width: 100px;
  padding: 5px 10px;
  height: 100px;
} 

#header .inner .title {
  position: absolute;
  right: 150px;
  top: 35px;
  font-size: 3rem;
} */


@media (max-width:768px) {
  #header {
    width: 100%;
    height: 50px;
  }

  
  #header .inner .back a {
    width: 50px;
    height: 50px;
  }
  
  #header .inner .back .bi-arrow-left {
    font-size: 3rem;
    width: 50px;
    height: 50px;
  } 
  
  #header .inner .title {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 1.8rem;
    font-weight: 300;
  }

}

.menu {
  position: fixed;
  right: 0%;
  bottom: 100px;
  width: 10%;
  cursor: pointer;
}

.menu span {
  font-size: 1.7rem;
}



.menupg {
  width: 100vw;
  height: 100vh;
  background: #692C00;
  color: #2B99FF;
  padding: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999!important;
}

.menupg > h2 {
  font-size: 19.5rem;
  letter-spacing: -5.5px;
  font-weight: 500;
  border-bottom: 1px solid #2B99FF;
}

.menupg .depth1 > li > a {
  font-size: 9.6rem;
  padding: 50px 0;
  border-bottom: 1px solid #2B99FF;
  display: block;
  color: #2B99FF;
  position: relative;
}

.menupg .depth1 > li > a span {
  color: #2B99FF;
  font-size: 4.8rem;
  font-weight: 200;
  padding-right: 100px;
}

.menupg .depth2 {
  position: absolute;
  left: 33%;
  bottom: 23%;
  padding-left: 50px;
}

.menupg .depth2 > li {
  display: inline-block;
  font-size: 2.4rem;
}

.menupg .depth2 > li > a {
  color: #2B99FF;
  display: inline-block;
  margin-right: 30px;
  padding: 10px;
}


.bi-plus-lg {
  font-size: 10rem;
  position: absolute;
  right: 10%;
  bottom: 18%;
  cursor: pointer;
}

.bi-x-lg {
  font-size: 10rem;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

@media (max-width:820px) {

  .menu {
    position: fixed;
    right: 0%;
    bottom: 70px;
    width: 20%;
    cursor: pointer;
  }
  
  .menu span {
    font-size: 1.7rem;
  }
  
  
  
  .menupg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999!important;
    padding: 60px 40px;
    height: 100%;
    overflow-y: hidden;
  }
  
  .menupg > h2 {
    font-size: 10rem;
    letter-spacing: -2.5px;
  }
  
  .menupg .depth1 > li > a {
    font-size: 4.8rem;
    padding: 50px 0 20px 0;
  }
  
  .menupg .depth1 > li > a span {
    font-size: 2.4rem;
    padding: 0;
  }
  

  .menupg .depth2 {
    position: absolute;
    left: 8%;
    bottom: 53%;
    padding-left: 0px;
  }
  
  .menupg .depth2 > li {
    display: inline-block;
    font-size: 1.8rem;
  }
  
  .menupg .depth2 > li > a {
    color: #2B99FF;
    display: inline-block;
    margin-right: 0px;
    padding: 10px;
  }
  
  
  .bi-plus-lg {
    font-size: 5rem;
    right: 10%;
    bottom: 60%;
  }
  
  .bi-x-lg {
    font-size: 5rem;
    right: 10%;
    top: 3%;
  }

}

@media (max-width:768px) {

  .menu {
    position: fixed;
    right: 0%;
    bottom: 70px;
    width: 30%;
    cursor: pointer;
  }
  
  .menu span {
    font-size: 1.7rem;
  }
  
  
  
  .menupg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999!important;
    padding: 60px 40px 0 40px;
    height: 100%;
    overflow-y: hidden;
  }
  
  .menupg > h2 {
    font-size: 4.5rem;
    letter-spacing: -2.5px;
  }
  
  .menupg .depth1 > li > a {
    font-size: 3.6rem;
    padding: 50px 0 20px 0;
  }
  
  .menupg .depth1 > li > a span {
    font-size: 1.6rem;
    padding: 0;
  }
  

  .menupg .depth2 {
    position: absolute;
    left: 8%;
    bottom: 30%;
    padding-left: 0px;
  }
  
  .menupg .depth2 > li {
    display: inline-block;
    font-size: 1.8rem;
  }
  
  .menupg .depth2 > li > a {
    color: #2B99FF;
    display: inline-block;
    margin-right: 0px;
    padding: 10px;
  }
  
  
  .bi-plus-lg {
    font-size: 3rem;
    right: 10%;
    bottom: 50%;
  }
  
  .bi-x-lg {
    font-size: 3rem;
    right: 10%;
    top: 3%;
  }

}

.footer {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 100px 100px 50px 100px;
  font-family: 'ChosunSg', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  color: #000;
  border-top: 1px solid #000;
}

.footer .copy {
  padding-top: 20px;
}

.footer .fgnb {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
}

.footer .fgnb a {
  display: block;
  font-size: 2rem;
}

@media (max-width:768px) {
  .footer {
    font-size: 1rem;
    padding: 40px;
    font-family: 'ChosunSg', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

